{% extends 'shop/basic.html' %}

{% block title %} Manage Address Page {% endblock %}

{% block css %}
<style>
    
</style>
{% endblock %}

{% block body %}
<div class="container my-3">
    <h1 class="my-3">Forgot Password:</h1>
    <hr>
    <b>Verify using security Question and Answers:</b>

    <form action="/shop/forgotPassword/" method="POST">
        {% csrf_token %}
    <!-- Email -->
    <div class="form-group mb-3 my-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="Enter Your Email:">
        <!-- For InValid Feedback -->
        <div id="" class="invalid-feedback">
          Incorrect Email
        </div>
      </div>

    <!-- Security Questions -->
    <div class="form-group mb-3 my-3">
        <label for="securityQuestion" class="form-label">Select Your Security Question</label>
        <select class="form-select" aria-label="Default select example" name="securityQuestion" id="securityQuestion">
            <option selected value="What was your childhood nickname?">What was your childhood nickname?
            </option>
            <option value="what high school did you attend?">what high school did you attend?</option>
            <option value="what was your first pet’s name?">what was your first pet’s name?</option>
        </select>
    </div>

    <!-- Security Answer -->
    <div class="form-group mb-3">
        <label for="securityAnswer" class="form-label">Security Answer:</label>
        <input type="text" name="securityAnswer" class="form-control" placeholder="Security Answer" required=""
            id="securityAnswer">
    </div>

    <button class="btn btn-lg btn-primary btn-block" id="submit" name="submit" type="submit">submit</button>

    </form>

</div>
{% endblock body %}

{% block js %}
<script>
</script>
{% endblock %} 

