{% extends 'shop/basic.html' %}

{% block title %} Tracker Page {% endblock %}

{% block body %}
<div class="container">
    <div class="col my-4">
        <h2> Enter Your Order Id and Email address to track your order </h2>

        <form action="/shop/trackerResponse/" method="post" id="trackerForm" name="trackerForm">
            {% csrf_token %}
            <div class="row my-3">
                <!-- For Order ID -->
                <div class="col-md-6">
                    <label for="orderId" class="form-label">Order Id</label>
                    <input type="text" class="form-control" placeholder="Enter Your Order Id" id="orderId"
                        name="orderId" required>
                </div>
                <!-- For Email -->
                <div class="col-md-6">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" placeholder="{{request.session.email}}" name="email" id="email"
                        disabled> 
                </div>
            </div>
            <!-- Submit Button -->
            <div class="col-12 my-3">
                <button type="submit" class="btn btn-primary" id="updateOrder" name="updateOrder">Submit</button>
            </div>
        </form>

    </div>
</div>
{% endblock %}
